<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% extends "layout.html" %}
{% block title %}
INDEX
{% endblock %}
{% block main %}
<table class="table table-dark">
    <thead>
        <td>Symbol</td>
        <td>Shares_no</td>
        <td>Current price(USD)</td>
        <td>Total Value(USD)</td>
    </thead>
    <tbody>
        {% for stock in stocks%}
            <tr>
                <td> {{stock["stock_name"]}}</td>
                <td> {{stock["stock_no"]}}</td>
                <td> {{present[stock["stock_name"]] | usd }}</td>
                <td> {{(present[stock["stock_name"]] | float * stock["stock_no"] ) | round(2) | usd}}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tr class="table-success">  >
        <th colspan="3" class="table-active">REMAINING CASH</th>
        <th class="table-active">{{re | usd}}</th>
      </tr>
      <tr class="table-danger">
        <th  colspan="3" class="table-active"> TOTAL AMMOUNT</th>
        <th class="table-active">{{total|usd }}</th>
      </tr>
  </table>
{% endblock %}
