{% extends "layout.html"%}
{% block title %}
Qoute!
{% endblock %}
{% block main%}
    <form action="/quote" method="post" >
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" style ="display:inline" id="username" name="symbol" placeholder="Stock Symbole" type="text">
        <button class="btn btn-primary" type="submit" style="margin-left:20px"">Look Up</button>
    </form>
    <br>
    <br>
    <br>
    <table class="table table-dark table-striped-columns">
        <tr style="align-items:space-between">
            <th>Symbole</th>
            <th>Company Name</th>
            <th>Price</th>
        </tr>
    </table>
{% endblock %}
